@import "tailwindcss";

:root {
    --border-shadow-color: rgba(255,255,255,0.8);
}

@theme {
    --color-kbackground: #242424;
    --color-knavbar: #3e4145;
    --color-kborder: #88a9a8;
    --shadow-up: -0.5px -0.5px 0.5px var(--border-shadow-color), 0.5px -0.5px 0.5px var(--border-shadow-color);
    --shadow-dn: 0 0.5px 0.5px var(--border-shadow-color);
}