@model BlogIndexViewModel

@{
    ViewData["Title"] = "Blog - Kenny Heagle";
}

<div>
    @foreach (var post in Model.Items)
    {
        <div>
            <a href="/Blog/@post.Id">
                <h3>@post.Title</h3>
            </a>
        </div>
    }
</div>
