@model BlogPostViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Title</title>
</head>
<body>
<div>
    <h1>@Model.Title</h1>
    <p>@Model.Body</p>
</div>
</body>
</html>